div.docs_ctrl{
    font-size:          15px                    !important ;
    color:              #ddd                    !important ;
    background-color:   rgba(10,10,10,0.5)      !important ;
    z-index:            9999999999999999999999  !important ;
    position:           fixed                   !important ;
    display:            inline-block            !important ;
    top:                0                       !important ;
    right:              30px                    !important ;
    text-align:         center                  !important ;
    box-shadow:         0px 0px 10px #333       ; 
}

div.docs_ctrl > div.collapse_act{

    height:             10px                     !important ;
    min-width:              40px                    ; 
    background-color:red;
    
    
}
div.docs_ctrl >  div.ctrl_container {
    height:160px;
    display:            inline-block            ;
}

div.docs_ctrl >  div.ctrl_container > div.general_ctrl{

    height:             160px                   ;
    width:              40px                    ;
    float:left;
    
    
}


div.docs_ctrl  >  div.ctrl_container > div.general_ctrl > div.general_ctrl_button{
    overflow:           hidden;
    width:              40px                    ;
    height:             40px                    ;
    
    
}

div.docs_ctrl  >  div.ctrl_container > div.general_ctrl > div.general_ctrl_button:hover{
    background-color:  #999;
}



div.docs_ctrl >  div.ctrl_container > div.brothers_ctrl{

    height:             160px                     !important ;
    float:left            !important ;
    
    
}
div.docs_ctrl >  div.ctrl_container > div.brothers_ctrl >.brother_ctrl {
    
    float:left            ;
    
}

div.docs_ctrl >  div.ctrl_container > div.brothers_ctrl >.brother_ctrl > .brother_jump{
    
    width:160px;
    height:120px;
    
    
}
div.docs_ctrl >  div.ctrl_container > div.brothers_ctrl >.brother_ctrl > .brother_jump:hover{
    background-color:  #999;
}
div.docs_ctrl >  div.ctrl_container > div.brothers_ctrl >.brother_ctrl > .brother_close{
    
    width:160px;
    height:40px;
    
    
}
div.docs_ctrl >  div.ctrl_container > div.brothers_ctrl >.brother_ctrl > .brother_close:hover{
    background-color:  #999;
}


